annotated-types==0.7.0
anyio==4.7.0
archivenow==2020.7.18.12.19.44
asttokens==3.0.0
attrs==25.1.0
backcall==0.2.0
beautifulsoup4==4.12.3
bert-extractive-summarizer==0.10.1
bleach==6.2.0
blinker==1.9.0
blis==1.0.1
bs4==0.0.2
catalogue==2.0.10
cbor==1.0.0
certifi==2024.8.30
charset-normalizer==3.4.0
chest==0.2.3
click==8.1.7
cloudpathlib==0.20.0
colorama==0.4.6
confection==0.1.5
cymem==2.0.10
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.15
dill==0.3.9
distro==1.9.0
docopt==0.6.2
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl#sha256=5e6329fe3fecedb1d1a02c3ea2172ee0fede6cea6e4aefb6a02d832dba78a310
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.16.1
Flask==3.1.0
Flask-Cors==5.0.0
fsspec==2024.10.0
h11==0.14.0
HeapDict==1.0.1
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.26.5
idna==3.10
ijson==3.3.0
inscriptis==2.5.0
ipython==8.12.3
ir_datasets==0.5.9
ir_measures==0.3.6
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jiter==0.8.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
keyword_spacy==0.1.2
langcodes==3.5.0
language_data==1.3.0
lxml==5.3.0
lz4==4.3.3
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.1
more-itertools==10.5.0
mpmath==1.3.0
murmurhash==1.0.11
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
networkx==3.4.2
numpy==2.0.2
openai==1.57.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
patsy==1.0.1
pickleshare==0.7.5
pillow==11.0.0
pipreqs==0.5.0
platformdirs==4.3.6
preshed==3.0.9
prompt_toolkit==3.0.50
pure_eval==0.2.3
pydantic==2.10.3
pydantic_core==2.27.1
Pygments==2.18.0
pyjnius==1.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-terrier==0.12.0
pytrec-eval-terrier==0.5.6
pytz==2024.2
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
rich==13.9.4
rpds-py==0.22.3
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
setuptools==75.6.0
shellingham==1.5.4
six==1.17.0
smart-open==7.0.5
sniffio==1.3.1
soupsieve==2.6
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
statsmodels==0.14.4
sympy==1.13.1
termcolor==2.3.0
thinc==8.3.2
threadpoolctl==3.5.0
tinycss2==1.4.0
tldextract==5.1.3
tokenizers==0.21.0
torch==2.5.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.47.0
trec-car-tools==2.6
typer==0.15.1
typing_extensions==4.12.2
tzdata==2024.2
unlzw3==0.2.2
urllib3==2.2.3
warc3-wet==0.2.5
warc3-wet-clueweb09==0.2.5
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
Werkzeug==3.1.3
wget==3.2
wheel==0.45.1
wrapt==1.17.0
yarg==0.1.9
yaspin==3.1.0
zlib-state==0.1.9
